/*style css for body*/
body{
    font-family: Arial, sans-serif;
    background-image:url(images/Object.png);
    line-height: 1.6;
    }
    /* Header and Navigation */
    header {
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
        
        nav img {
        height: 40px;
        }
        
        ul {
        list-style: none;
        display: flex;
        gap: 20px;
        }
        
        ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        }
        
        ul li a:hover {
        color: #007BFF;
        }
        
        /* Main content styling */
        main {
        padding: 20px;
        }
        
        span, h2, h3, h4 {
        margin-bottom: 10px;
        text-align: center;
        
        }
        
        button {
        padding: 10px 20px;
        font-size: 1em;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }

                    