/* Ensure the body is a flex container with column direction */
body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

/* Ensure the main is a flex container with row direction and takes automatic space */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 20px;
    background-color: darkcyan;
  }

/* The article takes 2/3 of the width */
article {
    flex: 2;
    overflow-y: auto;
}

/* The aside takes 1/3 of the width */
aside {
    flex: 1;
    overflow-y: auto;
    width: 30%;
    height: 300px;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;

}
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}
footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:darkgreen;
  color: white;
  text-align: center;
}